@import "../../../assets/stylesheets/_variables.scss";

.fw-form-control {
  background: transparent;
  font-family: InsightWebRegular, Arial, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 100%;
  min-width: 150px;

  .fw-textarea-group {
    display: flex;
    flex-direction: column;

    .fw-textarea-label {
      font-family: InsightWebBold, Arial, sans-serif;
      font-size: 20px;
    }

    .fw-textarea-box {
      font-family: InsightWebRegular, Arial, sans-serif;
      font-size: 16px;
      min-height: 40px;
      padding: 0.375rem;
      color: $fw-primary;
      text-align: inherit;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      resize: none;
      background-color: transparent;
      border: 1px solid $fw-primary;
      border-radius: 0.375rem;

      &:hover,
      &:active,
      &:focus,
      &:focus-visible {
        outline: none;
      }

      &.error {
        padding: 0.375rem 2.5rem 0.375rem 0.375rem;
        border: 1px solid $fw-error;
        background-image: url("../../../assets/images/form-validation/error.svg");
        background-repeat: no-repeat;
        background-position: right 0.5rem center;
        background-size: 1.5rem 1.5rem;
      }

      &.valid {
        padding: 0.375rem 2.5rem 0.375rem 0.375rem;
        border: 1px solid $fw-valid;
        background-image: url("../../../assets/images/form-validation/valid.svg");
        background-repeat: no-repeat;
        background-position: right 0.5rem center;
        background-size: 1.5rem 1.5rem;
      }
    }

    .fw-textarea-error {
      font-size: 14px;
      color: $fw-error;
    }
  }
}
