@import "../../../assets/stylesheets/_variables.scss";

.fw-textarea {
  display: flex;
  flex-direction: row;
  background-color: $fw-white;
  border-radius: 0.375rem;
  max-width: 100%;
  min-width: 150px;
  gap: 5px;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
    background-color: lighten($fw-primary, 30%);
  }

  .fw-textarea-box {
    min-height: 40px;
    padding: 10px 16px;
    overflow-x: auto;
    font-family: InsightWebRegular, Arial, sans-serif;
    font-size: 16px;
    color: $fw-default-text;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: transparent;
    border: 0;
    box-sizing: border-box;

    &:hover,
    &:active,
    &:focus,
    &:focus-visible {
      outline: none;
    }
  }

  .fw-textarea-findings {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: $fw-default-text;
  }

  .fw-textarea-button {
    margin-left: auto;
    padding: 0;

    > button {
      border-radius: 0 0.375rem 0.375rem 0 !important;
      border-top: 0;
      border-right: 0;
      border-bottom: 0;

      &:focus {
        border-top: 0 !important;
        border-right: 0 !important;
        border-bottom: 0 !important;
        border-color: $fw-border !important;
        box-shadow: none !important;
      }

      > img {
        height: 40px;
        width: 40px;
      }
    }
  }
}
