@import "../../../assets/stylesheets/_variables.scss";

.transition-wrapper {
  flex: 1;
  margin: 0 0.5em 0.5em 6.9em;
  height: auto;
  backface-visibility: hidden;
  border: 2px solid $fw-primary;
  border-radius: 5px;
  padding: 1em;

  .page-content {
    // height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(20%) blur(8px);
  }
}
