@import "../../../assets/stylesheets/_variables.scss";

.page-header {
  margin: 0;
  padding: 0.5em;
  border-bottom: 2px solid transparent;
  display: flex;
  flex-direction: row;
  background-color: transparent;

  .app-details {
    flex: 1;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: InsightWebBold, Verdana, Helvetica, Arial, sans-serif;
    color: $fw-primary;
    padding-left: 1em;

    .app-name {
      animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
      font-size: 40px;
    }

    .app-description {
      font-size: 20px;
      animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
      animation-delay: 1s;
    }
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
