@import "../../../assets/stylesheets/_variables.scss";

.fw-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;

  .fw-dropdown-toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    font-family: InsightWebRegular, Arial, sans-serif;
    font-size: 16px;
    color: $fw-default-text;
    background-color: $fw-white;
    border: 2px solid $fw-btn-border;
    border-radius: 0.375rem;
    padding: 0.5em 1em;

    &:hover,
    &:active {
      cursor: pointer;
    }

    &:focus,
    &:focus-visible {
      outline: none;
      box-sizing: border-box;
    }

    &.animation-progress {
      &:hover {
        animation: progress 0.5s ease-in-out;
      }
    }

    &.animation-jello {
      &:hover {
        animation: jello 0.5s both;
      }
    }

    &.animation-pulse {
      animation: pulse 2s infinite;

      &:hover {
        animation: none;
      }
    }

    &::after {
      content: none;
    }

    &.primary {
      color: $fw-default-text;
      border: 1px solid $fw-btn-border;
      background-size: 200% 100%;
      background-image: linear-gradient(to left, $fw-btn-hover 50%, $fw-btn-primary 50%);
      box-shadow:
        inset 0 -0.3em 0.5em -0.15em $fw-secondary,
        inset 0 0.3em 1em -0.15em rgb(255 255 255 / 53%),
        inset 0 0 0 0.05em rgb(255 255 255 / 50%);

      &:hover,
      &:active {
        border-color: $fw-white;
        color: $fw-white;
      }

      &:focus {
        background-color: $fw-btn-primary;
        border: 1px solid $fw-btn-secondary;
        color: $fw-white;
        box-shadow: inset 0 0 0 2px $fw-white;
      }

      &.is-disabled {
        color: $fw-btn-secondary-disabled;
        background-color: $fw-btn-primary-disabled;
        border: 1px solid $fw-btn-secondary-disabled;

        &:hover,
        &:focus,
        &:focus-visible {
          outline: none;
          border: 2px solid $fw-btn-primary-disabled;
        }
      }
    }

    &.secondary {
      color: $fw-btn-primary;
      border: 1px solid $fw-btn-border;
      background-size: 200% 100%;
      background-image: linear-gradient(to right, $fw-white 50%, $fw-btn-primary 50%);
      box-shadow:
        inset 0 -0.3em 0.5em -0.15em $fw-btn-primary,
        inset 0 0.3em 1em -0.15em rgb(255 255 255 / 53%),
        inset 0 0 0 0.05em rgb(255 255 255 / 50%);

      &:hover,
      &:active {
        color: $fw-primary;
        border-color: $fw-btn-hover;
      }

      &:focus {
        background-color: $fw-btn-primary;
        border: 1px solid $fw-btn-secondary;
        color: $fw-btn-secondary;
        box-shadow: inset 0 0 10px $fw-btn-primary;
      }

      &.is-disabled {
        color: $fw-btn-primary-disabled;
        background-color: $fw-btn-secondary-disabled;
        border: 1px solid $fw-btn-secondary-disabled;
      }
    }
  }

  .fw-dropdown-menu {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-height: 200px;
    font-family: InsightWebRegular, Arial, sans-serif;
    font-size: 16px;
    overflow-y: auto;
    line-height: 1;
    background-color: $fw-white;
    border: 1px solid $fw-border;
    border-radius: 0.375rem;

    .fw-dropdown-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 40px;
      padding: 10px 16px;
      color: $fw-default-text;
      text-align: inherit;
      text-decoration: none;
      white-space: nowrap;
      background-color: transparent;
      border: 0;

      &:hover,
      &:focus,
      &:focus-visible {
        outline: none;
        color: $fw-default-text;
        background-color: $fw-white;
      }

      &.fw-dropdown-item-selected {
        background-color: $fw-primary;
      }
    }
  }
}

@keyframes progress {
  100% {
    background-position: 0 0;
  }

  0% {
    background-position: 100% 0;
  }
}

@keyframes jello {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $fw-default-text;
  }

  70% {
    box-shadow: 0 0 0 10px $fw-primary;
  }

  100% {
    box-shadow: 0 0 0 0 $fw-secondary;
  }
}
