@import "../../assets/stylesheets/_variables.scss";

.recipe-book {
  width: 100%;
  height: 100%;
  color: $fw-primary;
  display: flex;
  flex-direction: row;
  border-radius: 0.5em;
  gap: 0.5em;

  .recipe-book-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;

    .title {
      font-size: 24px;
    }

    .buttons-and-filters {
      display: flex;
      flex-direction: row;
      gap: 1em;

      .title {
        font-size: 20px;
        border: 0;

        &:hover {
          color: lighten($fw-primary, 20%);
          text-decoration: underline overline;
        }
      }

      .scope {
        display: flex;
        flex-direction: column;
        border-right: 2px solid $fw-primary;
        padding-right: 1em;
        gap: 0.5em;
      }

      .tags {
        display: flex;
        flex-direction: column;
        border-right: 2px solid $fw-primary;
        padding-right: 1em;
        gap: 0.5em;
      }

      .manage-recipes {
        display: flex;
        flex-direction: column;
        padding-right: 1em;
        gap: 0.5em;

        .buttons {
          display: flex;
          flex-direction: row;
          gap: 0.5em;
        }
      }
    }

    .search {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.5em;
    }

    .list {
      width: 100%;
      height: 100%;
      border: 1px solid $fw-primary;
      border-radius: 0.5em;

      .list-header {
        font-family: InsightWebBold, Verdana, Helvetica, Arial, sans-serif;
        height: 30px;
        font-size: 18px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.375em 0.5em;
        border-bottom: 2px solid $fw-primary;

        .name {
          margin-left: 10px;
        }

        .duration-popularity {
          margin-left: auto;

          .duration {
            margin-right: 50px;
          }

          .popularity {
            margin-right: 20px;
          }
        }
      }

      .list-content {
        overflow: auto;
        height: 400px;
      }
    }
  }

  .recipe-book-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 1em;
    gap: 0.5em;

    .preview {
      width: 100%;
      height: 100%;
      border: 1px solid $fw-primary;
      border-radius: 0.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
    }
  }
}
