@import "./assets/stylesheets/index";

body {
  margin: 0;
  font-family: InsightWebRegular, Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px;
  // overflow: -moz-scrollbars-none;
  height: 100%;
  background-image: url("./assets/images/backgrounds/dark.jpg");
  background-color: $fw-black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;

  > div {
    height: 100%;
  }
}

// Google Chrome, Safari or newer versions of Opera
body::-webkit-scrollbar {
  width: 0 !important;
}

html {
  height: 100%;
}
