@font-face {
  font-family: InsightWebBold;
  src: url("../font-styles/insight_web_bold.eot");
  src: url("../font-styles/insight_web_bold.eot?#iefix") format("embedded-opentype"), url("../font-styles/insight_web_bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: InsightWebRegular;
  src: url("../font-styles/insight_web_regular.eot");
  src: url("../font-styles/insight_web_regular.eot?#iefix") format("embedded-opentype"), url("../font-styles/insight_web_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: InsightDisplayWebLight;
  src: url("../font-styles/insight_web_light.eot");
  src: url("../font-styles/insight_web_light.eot?#iefix") format("embedded-opentype"), url("../font-styles/insight_web_light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
