// Generic colors
$fw-white: white;
$fw-black: black;

// Validation colors
$fw-valid: #198754;
$fw-error: #dc3545;

// Generic Light Theme(orange)
// $fw-default-text: #464646;
// $fw-primary: #ff7535;
// $fw-secondary: #023020;
// $fw-border: #464646;
// $fw-primary-disabled: #dedede;
// $fw-secondary-disabled: #9a9a9a;

// Generic Dark Theme(neon)
$fw-default-text: #464646;
$fw-primary: #59bfaa;
$fw-secondary: #0e2a47;
$fw-border: $fw-secondary;
$fw-primary-disabled: #9a9a9a;
$fw-secondary-disabled: #dedede;

// Generic Button colors
$fw-btn-primary: $fw-primary;
$fw-btn-secondary: $fw-secondary;
$fw-btn-hover: $fw-secondary;
$fw-btn-border: $fw-border;
$fw-btn-primary-disabled: $fw-primary-disabled;
$fw-btn-secondary-disabled: $fw-secondary-disabled;
