// Generic colors
$fw-white: white;
$fw-black: black;

// Generic Theme colors1(evergren)
$fw-default-text: #464646;
$fw-primary: #c0d6ae;
$fw-secondary: darken($fw-primary, 6.5%);
$fw-border: #464646;
$fw-primary-disabled: #dedede;
$fw-secondary-disabled: #9a9a9a;

// Generic Theme colors2(neon)
// $fw-default-text: $fw-black;
// $fw-primary: #08fdd8;
// $fw-secondary: darken($fw-primary, 6.5%);
// $fw-border: $fw-black;
// $fw-primary-disabled: #9a9a9a;
// $fw-secondary-disabled: #dedede;

// Generic Button colors
$fw-btn-primary: $fw-primary;
$fw-btn-secondary: $fw-secondary;
$fw-btn-hover: darken($fw-secondary, 6.5%);
$fw-btn-border: $fw-border;
$fw-btn-primary-disabled: $fw-primary-disabled;
$fw-btn-secondary-disabled: $fw-secondary-disabled;
